# Azure account
Host ssh.dev.azure.com
	User alijan.adeli@consid.se
	IdentityFile ~/.ssh/id_rsa_devops
	UseKeychain yes
	IdentitiesOnly yes
	AddKeysToAgent yes

# Github account
Host github.com
	User H4ckint0sh
	IdentityFile ~/.ssh/id_ed25519_github
	UseKeychain yes
	IdentitiesOnly yes
	AddKeysToAgent yes

Host gala_1
  Hostname 10.0.10.101
  Port 22
  User gala-node-1

Host gala_2
  Hostname 10.0.10.102
  Port 22
  User gala-node-2

Host *
  IdentityAgent ~/.1password/agent.sock

AddKeysToAgent yes

Host github.com
    IdentityFile ~/.ssh/github_ed25519

Host desktop
    User nick
Match originalhost desktop exec "timeout 0.1 ping -c 1 100.110.0.0"
    Hostname 100.110.0.0
Match originalhost desktop exec "timeout 0.1 ping -c 1 100.110.0.137"
    Hostname 100.110.0.137
Match originalhost desktop
    Hostname 10.0.0.2

Host laptop
    User nick
Match originalhost laptop exec "timeout 0.1 ping -c 1 100.110.0.1"
    Hostname 100.110.0.1
Match originalhost laptop
    Hostname 10.0.0.3

Host steamdeck
    User deck
Match originalhost steamdeck exec "timeout 0.1 ping -c 1 100.110.0.3"
    Hostname 100.110.0.3
Match originalhost steamdeck
    Hostname 10.0.0.5

Host server
    User nick
Match originalhost server exec "timeout 0.1 ping -c 1 100.90.230.2"
    Hostname 100.90.230.2
Match originalhost server
    Hostname 10.0.10.2

Host macbook
    User nick
Match originalhost macbook exec "timeout 0.1 ping -c 1 100.74.119.105"
    Hostname 100.74.119.105
Match originalhost macbook
    Hostname 10.0.10.4

Host work-laptop
    User nick
    Hostname 100.77.8.64

Host octopi
    User nick
Match originalhost octopi exec "timeout 0.1 ping -c 1 100.90.175.35"
    Hostname 100.90.175.35
Match originalhost octopi
    Hostname 10.0.10.3

Host homeassistant
    User nick
Match originalhost homeassistant exec "timeout 0.1 ping -c 1 100.100.157.60"
    Hostname 100.100.157.60
Match originalhost homeassistant
    Hostname 10.0.107.2

Host pihole
    User nick
Match originalhost pihole exec "timeout 0.1 ping -c 1 100.96.148.68"
    Hostname 100.96.148.68
Match originalhost pihole
    Hostname 10.0.10.10

Host pve
    User nick
Match originalhost pve exec "timeout 0.1 ping -c 1 100.88.226.87"
    Hostname 100.88.226.87
Match originalhost pve
    Hostname 10.0.100.10

Host gaming-server
    User nick
Match originalhost gaming-server exec "timeout 0.1 ping -c 1 100.81.242.104"
    Hostname 100.81.242.104
Match originalhost gaming-server
    Hostname 10.0.20.10

Host alma
    User nick
    LocalForward 9443 0.0.0.0:9443
    LocalForward 4200 0.0.0.0:4200
    Hostname 192.168.220.137
Match originalhost alma exec "[[ ! -e ~/.work ]]"
    ProxyJump work-laptop

Host git.conway.dev
    IdentityFile ~/.ssh/gitea_ed25519
    Port 222

Host gist.conway.dev
    IdentityFile ~/.ssh/gitea_ed25519
    Port 2222